mixin post(post)
    div.post-container
        div.post-user-info
            div
                img(src=post.owner.avatarUrl)
                span #{post.owner.username}
            div
                if loggedIn
                    if loggedInUser._id === post.owner.id
                        a(href=`/post/${post._id}/edit`)
                            i.fas.fa-pen-to-square
                        a(href=`/post/${post._id}/delete`)
                            i.fas.fa-trash
        div(style="overflow: hidden").postImageContainer
            div.container(id=`${post.id}Container`)
                each imageUrl in post.imagesUrl
                    div.inner
                        img(src=imageUrl).post-image

            button.btnLeft(id=`${post.id}LeftBtn`)
                i.fas.fa-angle-left(id=`${post.id}LeftI`)
            button.btnRight(id=`${post.id}RightBtn`)
                i.fas.fa-angle-right(id=`${post.id}RightI`)

        div#post-owner
            a(href=`/user/${post.owner.id}`) 
                span #{post.owner.username}
        div#content
            span #{post.content}
            span #{post.hashtags}
            span #{post.createdAt}