mixin post(post)
    div
        if loggedIn
            if loggedInUser._id === post.owner.id
                a(href=`/post/${post._id}/edit`)
                    span Edit this post
                a(href=`/post/${post._id}/delete`)
                    span Delete this post
        div#image-slider
            each imageUrl in post.imagesUrl 
                img(src=imageUrl)
        div#post-owner
            a(href=`/user/${post.owner.id}`) 
                span #{post.owner.username}
        div#content
            span #{post.content}
            span #{post.hashtags}
            span #{post.createdAt}