mixin post(post)
    div.post-container
        if loggedIn
            if loggedInUser._id === post.owner.id
                a(href=`/post/${post._id}/edit`)
                    span Edit this post
                a(href=`/post/${post._id}/delete`)
                    span Delete this post
        div(style="overflow: hidden")
            div.container
                each imageUrl in post.imagesUrl
                    div.inner
                        img(src=imageUrl).post-image
            button.btnLeft 
                i.fas.fa-angle-left
            button.btnRight
                i.fas.fa-angle-right
        div#post-owner
            a(href=`/user/${post.owner.id}`) 
                span #{post.owner.username}
        div#content
            span #{post.content}
            span #{post.hashtags}
            span #{post.createdAt}