extends base

block content
    if (user.avatarUrl).startsWith("../")
        img(src=`${user.avatarUrl}`)
    else 
        img(src=`/${user.avatarUrl}`)
    span #{user.name}
    span #{user.username}
    span #{user.email}