extends base

block content
    if (loggedInUser.avatarUrl).startsWith("../")
        img(src=`${loggedInUser.avatarUrl}`)
    else 
        img(src=`/${loggedInUser.avatarUrl}`)
    span #{loggedInUser.name}
    span #{loggedInUser.username}
    span #{loggedInUser.email}