extends base
include mixins/post-object

block content
    div.profile
        div.profile-notPost
            div.profile-image
                if (user.avatarUrl).startsWith("../")
                    img(src=`${user.avatarUrl}`)
                else 
                    img(src=`/${user.avatarUrl}`)
            div.profile-info
                span #{user.name}
                span #{user.username}
                span #{user.email}
        div.profile-post
            each post in posts
                if post.owner.id === id
                    +post(post)
block script 
    script(src="../static/js/postMovement.js")