extends base
include mixins/comment-object

block content
    div.video(data-id=`${video._id}`)
        div.video-watch
            video(src=`/${video.videoUrl}`)
            div.video-owner
                a(href=`/user/${video.owner._id}`) 
                    img(src=`/${video.owner.avatarUrl}`)
                    span #{video.owner.username}
            div.video-control
                div.timeline
                    input(type="range" min=0 max=100 step=1 value=0 disabled).timeline-input
                div.control-btns
                    button.playAndPause-btn
                        i.fas.fa-pause
                    button.mute-btn
                        i.fas.fa-volume-off


        div.comment
            each comment in comments
                +comment(comment)
            div.comment-input
                input(type="text" name="comment" placeholder="Comments...").content-comment
                input(type="submit" value="✈").comment-submit
block script
    script(src="/static/js/videoUpload.js")
    script(src="/static/js/videoComment.js")